/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v3";
import { SquadcastSDKCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { SquadcastSDKError } from "../models/errors/squadcastsdkerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Incident Export
 *
 * @remarks
 * - This endpoint is used to export the incident details into a `csv` or `json` file.
 * - Requires `access_token` as a `Bearer {{token}}` in the `Authorization` header.
 * - Header field/value: `Content-Type`: `text/csv`
 *
 * Query Params:
 *
 * ```
 * type: csv or json
 * start_time: filter by date range
 * end_time: filter by date range
 * services: filter by services
 * sources: filter by alert sources
 * assigned_to: filter by assignee
 * status: filter by incident status
 * slo_affecting: filetr by slo affected
 * slos: filter by slos
 * tags: filter by tags key=value
 *
 *  ```
 */
export function incidentsExport(
  client: SquadcastSDKCore,
  request: operations.IncidentsIncidentExportRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    void,
    | errors.PaymentRequiredError
    | errors.ForbiddenError
    | errors.NotFoundError
    | errors.ConflictError
    | errors.UnprocessableEntityError
    | errors.InternalServerError
    | errors.BadGatewayError
    | errors.ServiceUnavailableError
    | errors.GatewayTimeoutError
    | SquadcastSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: SquadcastSDKCore,
  request: operations.IncidentsIncidentExportRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      void,
      | errors.PaymentRequiredError
      | errors.ForbiddenError
      | errors.NotFoundError
      | errors.ConflictError
      | errors.UnprocessableEntityError
      | errors.InternalServerError
      | errors.BadGatewayError
      | errors.ServiceUnavailableError
      | errors.GatewayTimeoutError
      | SquadcastSDKError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.IncidentsIncidentExportRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/v3/incidents/export")();

  const query = encodeFormQuery({
    "assigned_to": payload.assigned_to,
    "assignedToUserIDsAndTheirSquads": payload.assignedToUserIDsAndTheirSquads,
    "end_time": payload.end_time,
    "is_starred": payload.is_starred,
    "notes": payload.notes,
    "owner_id": payload.owner_id,
    "priority": payload.priority,
    "retrospectives": payload.retrospectives,
    "service_owner": payload.service_owner,
    "services": payload.services,
    "slo_affecting": payload.slo_affecting,
    "slos": payload.slos,
    "sort_by": payload.sort_by,
    "sources": payload.sources,
    "start_time": payload.start_time,
    "status": payload.status,
    "tags": payload.tags,
    "textFilter": payload.textFilter,
    "type": payload.type,
  }, { explode: false });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "Incidents_incidentExport",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "402",
      "403",
      "404",
      "409",
      "422",
      "4XX",
      "500",
      "502",
      "503",
      "504",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    void,
    | errors.PaymentRequiredError
    | errors.ForbiddenError
    | errors.NotFoundError
    | errors.ConflictError
    | errors.UnprocessableEntityError
    | errors.InternalServerError
    | errors.BadGatewayError
    | errors.ServiceUnavailableError
    | errors.GatewayTimeoutError
    | SquadcastSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.jsonErr(402, errors.PaymentRequiredError$inboundSchema),
    M.jsonErr(403, errors.ForbiddenError$inboundSchema),
    M.jsonErr(404, errors.NotFoundError$inboundSchema),
    M.jsonErr(409, errors.ConflictError$inboundSchema),
    M.jsonErr(422, errors.UnprocessableEntityError$inboundSchema),
    M.jsonErr(500, errors.InternalServerError$inboundSchema),
    M.jsonErr(502, errors.BadGatewayError$inboundSchema),
    M.jsonErr(503, errors.ServiceUnavailableError$inboundSchema),
    M.jsonErr(504, errors.GatewayTimeoutError$inboundSchema),
    M.nil("2XX", z.void()),
    M.fail([400, 401, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
