/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SquadcastSDKCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { SquadcastSDKError } from "../models/errors/squadcastsdkerror.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get Incidents Status By RequestIDs
 *
 * @remarks
 * - This endpoint is used to get the status of incidents given list of request_ids
 * - Requires `access_token` as a `Bearer {{token}}` in the `Authorization` header.
 *
 * # Response
 * - The response contains the mapping from `request_ids` to incident status.
 * - `status` field can be one of - `suppressed`, `discarded`, `deduplicated`, `created`, `error`.
 * -  status is `error` if the `request_id` is invalid. Both `incident_id` and `event_id` field won't be present if `status` is `error`
 * -  status is `suppressed` if the incident was suppressed due to suppression rules.
 * -  status is `deduplicated` if the incident was deduplicated due to deduplication rules.
 * -  status is `discarded` if the incident was discarded due to some deduplication rule. `incident_id` field won't be present if `status` is `discarded`.
 * -  otherwise, the status is `created`
 */
export function incidentsGetStatusByRequestIds(
  client: SquadcastSDKCore,
  request: models.V3IncidentsIngestionStatusRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.IncidentsGetIncidentsStatusByRequestidsResponse,
    | errors.BadRequestError
    | errors.UnauthorizedError
    | errors.PaymentRequiredError
    | errors.ForbiddenError
    | errors.NotFoundError
    | errors.ConflictError
    | errors.UnprocessableEntityError
    | errors.InternalServerError
    | errors.BadGatewayError
    | errors.ServiceUnavailableError
    | errors.GatewayTimeoutError
    | SquadcastSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: SquadcastSDKCore,
  request: models.V3IncidentsIngestionStatusRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.IncidentsGetIncidentsStatusByRequestidsResponse,
      | errors.BadRequestError
      | errors.UnauthorizedError
      | errors.PaymentRequiredError
      | errors.ForbiddenError
      | errors.NotFoundError
      | errors.ConflictError
      | errors.UnprocessableEntityError
      | errors.InternalServerError
      | errors.BadGatewayError
      | errors.ServiceUnavailableError
      | errors.GatewayTimeoutError
      | SquadcastSDKError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      models.V3IncidentsIngestionStatusRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/v3/requests/status")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.refreshTokenAuth);
  const securityInput = secConfig == null
    ? {}
    : { refreshTokenAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "Incidents_getIncidentsStatusByRequestids",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.refreshTokenAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: [
      "400",
      "401",
      "402",
      "403",
      "404",
      "409",
      "422",
      "4XX",
      "500",
      "502",
      "503",
      "504",
      "5XX",
    ],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.IncidentsGetIncidentsStatusByRequestidsResponse,
    | errors.BadRequestError
    | errors.UnauthorizedError
    | errors.PaymentRequiredError
    | errors.ForbiddenError
    | errors.NotFoundError
    | errors.ConflictError
    | errors.UnprocessableEntityError
    | errors.InternalServerError
    | errors.BadGatewayError
    | errors.ServiceUnavailableError
    | errors.GatewayTimeoutError
    | SquadcastSDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations.IncidentsGetIncidentsStatusByRequestidsResponse$inboundSchema,
    ),
    M.jsonErr(400, errors.BadRequestError$inboundSchema),
    M.jsonErr(401, errors.UnauthorizedError$inboundSchema),
    M.jsonErr(402, errors.PaymentRequiredError$inboundSchema),
    M.jsonErr(403, errors.ForbiddenError$inboundSchema),
    M.jsonErr(404, errors.NotFoundError$inboundSchema),
    M.jsonErr(409, errors.ConflictError$inboundSchema),
    M.jsonErr(422, errors.UnprocessableEntityError$inboundSchema),
    M.jsonErr(500, errors.InternalServerError$inboundSchema),
    M.jsonErr(502, errors.BadGatewayError$inboundSchema),
    M.jsonErr(503, errors.ServiceUnavailableError$inboundSchema),
    M.jsonErr(504, errors.GatewayTimeoutError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
